* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*************     Usefull Staff     *************/


:root {
    --first-brand-color: #0084fd;
    --second-brand-color: #b5ddff;
    --third-brand-color: #9792e4;
    --first-highlighted-text: #9792e4;
    --second-highlighted-text: #fdc15f;
    --white-text: white;
}

/*************     General Selectors     *************/

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.flex-align-items {
    align-items: center;
}

li {
    list-style-type: none;
}

.bg-first-brand-color {
    background-color: var(--first-brand-color);
}

.third-brand-color {
    background-color: var(--third-brand-color);
}

.bg-white {
    background-color: white;
}

.white-text {
    color: white;
}

/*************     Header Selectors     *************/


header {
    background-color: var(--first-brand-color);
    height: 100px;
    padding: 0.5rem;
}

header .container {
    height: 100%;
}

header li.desktop-size {
    display: none;
}

.small-sizes {
    font-size: 2rem;
}


/*************     Main Selectors     *************/

main .container:first-child {
    padding-bottom: 2rem;
}

.container {
    width: 85%;
    margin: 0 auto;
}

/* top of page Selectors */

figure {
    height: 50%;
    text-align: center;
}

div.infos {
    height: 50%;
    text-align: center;
}

.top-of-page {
    padding: 2.5rem 0;
}

.cards h2 {
    color: var(--first-brand-color);
    font-size: 2rem;
    text-align: center;
}

.cards p {
    color: var(--first-brand-color);
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

.cards button {
    font-size: 1.5rem;
    border-radius: 2rem;
    margin: 0 auto;
    padding: 0.4rem 3.5rem 0.8rem;
    border: none;
}

.card {
    background-color: var(--second-brand-color);
    margin: 2rem auto;
    border-radius: 2rem;
    padding: 2rem 2rem 0rem;
}

.big-card {
    height: 800px;
}

.big-card img {
    object-fit: cover;
}
/* strategic planning Selectors */

.left-col {
    height: 500px;
}

.right-col {
    height: 500px;
    background-color: white;
    border-radius: 3rem;
}

/* testimonials Selectors */

.testimonials {
    padding: 3rem 0;
}

.testimonial-card {
    height: 450px;
    margin: 2rem 0;
    border-radius: 3rem;
}

/* benefits of working Selectors */

section.benefits-of-working h2:first-child {
    text-align: center;
}

.benefits-of-working {
    padding: 4rem 0 0rem;
}

.benefits-of-working .container {
    flex-wrap: wrap;
}

.benefits-card {
    height: 400px;
    width: 100%;
    margin: 2rem 0;
    border-radius: 2rem;
}

/* about us Selectors */

.about-us {
    height: 1000px;
}

.get-started {
    height: 600px;
}

/*************     Footer Selectors     *************/

footer {
    background-color: #333333;
    padding: 3rem;
    height: 250px;
}

footer p:first-child {
    margin-bottom: 2rem;
}

/*************     Media Query     *************/

@media screen and (min-width: 768px) {

/* Media Query top of page Selectors */

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        height: 500px;
        width: calc((100% / 3) - 2rem);
        margin: 1rem;
    }

    .big-card {
        width: calc(((100% / 3) * 2) - 2rem);
        height: 500px;
    }

/* Media Query testimonial Selectors */

    .testimonial-card {
        height: 350px;
        margin: 2rem 0;
        border-radius: 3rem;
    }

/* Media Query benefits of working Selectors */

    .benefits-card {
        height: 600px;
        width: calc((100% / 2) - 4rem);
        margin: 2rem 2rem;
        border-radius: 2rem;
    }

/* Media Query about us Selectors */

    .about-us .container {
        display: flex;
    }

    .about-us-left-col {
        width: 60%;
    }

    .about-us-right-col {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {

    .container {
        width: 60%;
    }

/* Media Query Header Selectors */

    header li.desktop-size {
        display: inline;
    }

    header li.small-sizes {
        display: none;
    }

/* Media Query main Selectors */
    /* Media Query top of page Selectors */

    .big-card img {
        float: right;
    }

    /* Media Query strategic planning Selectors */

    .left-col {
        height: 1200px;
        width: 55%;
    }
    
    .right-col {
        height: 800px;
        width: 40%;
        background-color: white;
        border-radius: 3rem;
        align-self: flex-end;
    }

    .strategic-planning .container {
        display: flex;
        width: 55%;
    }

    /* Media Query benefits of working Selectors */

    .benefits-card {
        width: calc((100% / 3) - 4rem);
        height: 500px;
    }

    /* Media Query about us Selectors */

    .about-us-left-col {
        width: 70%;
    }

    .about-us-right-col {
        width: 30%;
    }

/* Media Query footer Selectors */

}
