* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*************     Usefull Staff     *************/


:root {
    --first-bg-color: #0084fd;
    --second-bg-color: #b5ddff;
    --trhird-bg-color: #9792e4;
    --highlighted-text: #fdc15f;
}

/*************     General Selectors     *************/

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

li {
    list-style-type: none;
}

/*************     Header Selectors     *************/


header {
    background-color: #0084fd;
    height: 60px;
    padding: 1.3rem;
}


/*************     Main Selectors     *************/

.card {
    background-color: var(--first-bg-color);
}

/*************     Media Query     *************/

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}
