* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*************     Usefull Staff     *************/


:root {
    --first-brand-color: #0084fd;
    --second-brand-color: #b5ddff;
    --third-brand-color: #9792e4;
    --highlighted-text: #fdc15f;
    --white-text: white;
}

/*************     General Selectors     *************/

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-align-items {
    align-items: center;
}

.bg-first-brand-color {
    background-color: var(--first-brand-color);
}

.bg-third-brand-color {
    background-color: var(--third-brand-color);
}

.bg-white {
    background-color: white;
}

.white-text {
    color: white;
}

.grey-text {
    color: grey;
}

.uppercase {
    text-transform: uppercase;
}

.bold-text {
    font-weight: bold;
}

.highlighted-text {
    color: var(--highlighted-text);
}

/*************     Header Selectors     *************/


header {
    background-color: var(--first-brand-color);
    height: 100px;
    padding: 0.5rem;
}

header .container {
    height: 100%;
}

header li.desktop-size {
    display: none;
}

.small-sizes {
    font-size: 2rem;
}


/*************     Main Selectors     *************/

figure {
    height: 50%;
    text-align: center;
}

main .container:first-child {
    padding-bottom: 2rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* top of page Selectors */

div.infos {
    text-align: center;
}

.top-of-page {
    padding: 2.5rem 0;
}

.card {
    background-color: var(--second-brand-color);
    margin-top: 2rem;
    border-radius: 2rem;
    padding: 2rem 2rem 0rem;
    text-align: center;
}

.cards h2 {
    color: var(--first-brand-color);
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}

.card p {
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0 2.5rem;
}

.big-card p {
    text-align: left;
    padding: 1rem 1rem 2.5rem;
}

.cards button {
    font-size: 1.5rem;
    border-radius: 2rem;
    padding: 0.4rem 3.5rem 0.8rem;
    border: none;
    align-self: flex-start;
}

.big-card img {
    padding-top: 2rem;
    width: 100%;
}

.card>i {
    font-size: 6rem;
    color: var(--first-brand-color)
}
/* strategic planning Selectors */

section.strategic-planning {
    padding: 2rem 0;
}

.right-col {
    background-color: white;
    border-radius: 3rem;
}

p.arrow-down {
    font-size: 2rem;
    background-color: var(--third-brand-color);
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.left-col figure,
.right-col {
    text-align: center;
}

.strategic-planning img {
    width: 90%;
}

.strategic-planning h2 {
    font-size: 3rem;
    padding: 3rem 0;
}

.strategic-planning p {
    font-size: 1.5rem;
    padding: 2rem 0;
}

.strategic-planning h3 {
    font-size: 2rem;
    padding: 1.5rem 0;
}

.right-col p {
    padding: 1rem;
    align-self: center;
    margin: 1rem
}

/* testimonials Selectors */

.testimonials {
    padding: 3rem 0 5rem;
    text-align: center;
}

.testimonial-card {
    margin: 2rem 0;
    border-radius: 4rem;
    padding: 1rem;
}

.testimonial-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-card figure {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 1.5rem auto;
}

.testimonials .container p:first-child {
    font-size: 1.5rem;
}

.testimonial-card p {
    font-size: 1rem;
    text-align: center;
}

.testimonials h2 {
    color: var(--third-brand-color);
    font-size: 3rem;
    padding: 3rem 0;
}

.testimonial-description i {
    font-size: 1.5rem;
}

.testimonial-description p {
    font-size: 1.25rem;
    margin: 2rem 0;
}

/* benefits of working Selectors */

section.benefits-of-working>h2:first-child {
    text-align: center;
    font-size: 3rem;
}

.benefits-card h3 {
    color: var(--third-brand-color);
    font-size: 2rem;
    margin: 1rem 0;
}

.benefits-card h2 {
    font-size: 4rem;
    color: var(--third-brand-color);
}

.benefits-card p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 1rem 0;
}

.benefits-of-working {
    padding: 4rem 0 0rem;
}

.benefits-of-working .container {
    flex-wrap: wrap;
}

.benefits-card {
    width: 100%;
    margin: 2rem 0;
    border-radius: 2rem;
    padding: 3rem 3rem 1rem;
}

.benefits-card button {
    font-size: 1.5rem;
    border-radius: 2rem;
    margin: 2rem auto;
    padding: 0.4rem 3.5rem 0.8rem;
    border: none;
}

/* about us Selectors */

.about-us-right-col {
    position: relative;
    padding: 5rem 1rem 1rem;
}


.about-us-left-col p {
    font-size: 1.5rem;
}

.about-us-right-col img {
    height: 100%;
    object-fit: cover;
}

.about-us-right-col figure {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.about-us-right-col button {
    font-size: 1.5rem;
    border-radius: 2rem;
    margin: 1rem auto 2rem;
    padding: 0.4rem 3.5rem 0.8rem;
    border: none;
}

.about-us-left-col h2,
.about-us-right-col h2,
.about-us-right-col h3 {
    color: var(--third-brand-color);
    font-size: 3.5rem;
    margin: 1rem 0;
}

.about-us-right-col h3 {
    font-size: 2rem;
}

.about-us-right-col h2 {
    position: absolute;
    top: 4rem;
    left: 200px;
    margin: 0;
    line-height: 3.5rem;
}

.about-us-right-col h2 {
    font-size: 6rem;
    text-align: center;
}


/* get started selectors */

.get-started {
    padding: 2rem;
    text-align: center;
}

.get-started h3 {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    color: #cbc9f1;
    margin: 3rem 0 2rem;
}

.get-started h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.get-started h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.get-started p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.get-started li:nth-child(2),
.get-started li:nth-child(3){
    list-style-type: disc;
    margin-left: 2rem;
}

.get-started button {
    font-size: 1.5rem;
    border-radius: 2rem;
    margin: 1rem auto 2rem;
    padding: 0.4rem 3.5rem 0.8rem;
    border: none;
}

.get-started ul {
    font-size: 1.25rem;
    flex-wrap: wrap;
}

/*************     Footer Selectors     *************/

footer {
    background-color: #333333;
    padding: 3rem;
    text-align: center;
}

footer a {
    color: #7875ae;
}

footer p {
    font-size: 1.5rem;
    margin: 2rem 0;
}

footer p:first-child {
    margin-bottom: 5rem;
}

/*************     Media Query     *************/

@media screen and (min-width: 768px) {

/* Media Query top of page Selectors */

    figure {
        width: 45%;
        height: auto;
    }

    .big-card img {
        height: 100%;
    }

    .cards h2 {
        font-size: 1rem;
        padding-bottom: 0;
        font-weight: 800;
    }

    div.infos {
        margin-bottom: 0;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: calc((100% / 3) - 2rem);
        margin: 1rem;
    }

    .big-card {
        width: calc(((100% / 3) * 2) - 2rem);
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    .big-card h2 {
    text-align: left;
    font-size: 1.2rem;
    padding: 1rem;
    }

    .big-card p {
        font-size: 0.8rem;
        }
/* Media Query strategic planning Selectors */

        .strategic-planning figure {
            width: 100%;
        }

/* Media Query testimonial Selectors */

    .testimonial-card {
        height: 325px;
        margin: 2rem 0;
        display: flex;
        border-radius: 3rem;
    }

    .testimonial-description {
        width:65%;
        display: flex;
        flex-direction: column;
    }

    .testimonial-card  .testimonial-description p {
        text-align: left;
        font-size: 1rem;
    }
/* Media Query benefits of working Selectors */

    .benefits-card {
        height: 400px;
        width: calc((100% / 2) - 4rem);
        margin: 2rem 2rem;
        border-radius: 2rem;
        padding-top: 1rem;
    }

    .benefits-card button {
        margin-top: 0.5rem;
    }

    .benefits-of-working p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

/* Media Query about us Selectors */

    .about-us .container {
        display: flex;
    }

    .about-us-left-col {
        width: 60%;
    }

    .about-us-right-col {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {

    .container {
        width: 950px;
    }

/* Media Query Header Selectors */

    header li.desktop-size {
        display: inline;
    }

    header li.small-sizes {
        display: none;
    }

/* Media Query main Selectors */
    /* Media Query top of page Selectors */

    /* Media Query strategic planning Selectors */

    .left-col {
        height: 1200px;
        width: 55%;
    }
    
    .right-col {
        height: 800px;
        width: 40%;
        background-color: white;
        border-radius: 3rem;
        align-self: flex-end;
    }

    .strategic-planning .container {
        display: flex;
        width: 55%;
    }

    /* Media Query benefits of working Selectors */

    .benefits-card {
        width: calc((100% / 3) - 4rem);
        height: 500px;
    }

    /* Media Query about us Selectors */

    .about-us-left-col {
        width: 70%;
    }

    .about-us-right-col {
        width: 30%;
    }

/* Media Query footer Selectors */

}
